@charset "UTF-8";

.container {
    border: 1px solid #000;
    margin: 30px;
}

.container2 {
    border: 1px solid #000;
    margin: 10px 15px;
}

.container3 {
    border: 1px solid #000;
    margin: 10px 20px 15px 5px;
}