@charset "UTF-8";

#section {
    width: 600px;
    border: none;
    margin: 0 auto;
}

.container {
    border: 1px dashed #222;
    padding: 20px;
    margin-bottom: 30px;
}

.toplr {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.bottomlr {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

table, tr, td, th {
    border: 1px solid rgb(150, 148, 148);
    border-collapse: collapse;
    padding: 10px 35px;
}

th:first-child {background-color: rgb(235, 235, 235);}

ul { list-style-type: decimal;}

.accent {font-weight: bold;}